<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your VPN Configuration</title>
    <style>
        body {
            font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
        }
        html, body {
            height: 100%;
        }
        body {
            margin: 0;
        }
        .flex-container {
            height: 100%;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <div class="row">
            <h1>VPN Configuration for <%= @name %></h1>
            <p>Provided by tcow.tech</p>
            <h2>Instructions</h2>
            <p>To get started you need to download <a href="https://apps.apple.com/us/app/wireguard/id1441195209">WireGuard</a></p>
            <p>Once installed open the file attached to this email</p>
        </div>
    </div>
</body>
</html>
